VotingPlugin/src/main/java/com/bencodez/votingplugin/config/ConfigVoteSites.java whitespace=cr-at-eol
VotingPlugin/src/main/java/com/bencodez/votingplugin/listeners/VotiferEvent.java whitespace=cr-at-eol
