# Set bungeecoord to true on servers on the network (In VotingPlugin)
# Set server name in each server related to what it is on bungee
#
# MYSQL Required on all setups
# MYSQL INFO --------------------------
Host: ''
# Default port is 3306
Port: 3306 
Database: ''
Username: ''
Password: ''
# Max number of connections
MaxConnections: 1
# Table name prefix, for use with mutliple servers
# Don't use with PLUGINMESSAGING bungee setup
Prefix: ''
#UseSSL: true
#PublicKeyRetrieval: false
#Attempt to use mariadb driver
#UseMariaDB: false


####################################################################################
# Global mysql data handle for between server commmunications
# This is NOT required for bungee voting to work
# This is still a WIP, use with caution
# This will create a different table then from users storing server info to process
#
# If you use this you need to enable this on BungeeSettings.yml on each server with votingplugin
# Make sure server name is set correctly in BungeeSettings.yml or this will not work correctly
# 
# Please use PLUGINMESSAGING for this, SOCKETS should work as well, but not fully tested
#
# This will make votes cache until time change has finished processing
# In the event a server is offline or time change fails, the time change process
# will continue after a set amount of time (in essense skipping a specific server)
# This will also respect blocked servers
GlobalData:
  Enabled: false
  # Use existing connection above
  UseMainMySQL: true
  # Mysql settings only used if above is false
  Host: ''
  # Default port is 3306
  Port: 3306 
  Database: ''
  Username: ''
  Password: ''
  # Max number of connections
  MaxConnections: 1
  # Must be the same on all servers
  Prefix: ''
  #UseSSL: true
  #PublicKeyRetrieval: false
  #Attempt to use mariadb driver
  #UseMariaDB: false

####################################################################################

VoteCache:
  # If enabled, will cache votes in mysql
  UseMYSQL: false
  UseMainMySQL: true
  # Mysql settings only used if above is false


####################################################################################

Debug: false
# Have a reward on each server
# If false, will send to online server only
SendVotesToAllServers: true
# List of servers the plugin won't send the vote to
# Uses names from bungeecoord config, only needed for non SOCKETS setup
BlockedServers:
- hub


# Similar to BlockServers
# If a server is listed then blockedservers is ignored
WhiteListedServers: []

# What type of bungee setup
# Requires restart and set on all servers
# https://github.com/BenCodez/VotingPlugin/wiki/Bungeecoord-Setups
# Available:
# PLUGINMESSAGING (Recommended)
# REDIS
# MQTT
# SOCKETS 
# MYSQL (Not recommended)
BungeeMethod: PLUGINMESSAGING



######################################################################################
# Settings for each setup below

###########################################
# PLUGINMESSAGING settings
###########################################

# Default is vp:vp, can be changed to prevent potential exploits
# Must match on all servers
# This setting requires a restart
PluginMessageChannel: "vp:vp"

# Use this to encrypt the plugin messages
# Must be set on all servers the same
# Copy secretkey.key file to all servers (They all must match)
# This setting requires a restart
PluginMessageEncryption: false

###########################################
# REDIS Settings
###########################################

# Use Redis for between server communication, set BungeeMethod to REDIS to use this
Redis:
  Host: localhost
  Port: 6379
  Username: ''
  Password: ''
  # Set a prefix from an entire proxy network if using mutli-proxy setup below
  Prefix: ''
  
###########################################
# SOCKETS Settings
###########################################

# Settings hidden to avoid confusion, highly recommend other methods first
# Settings available here https://github.com/BenCodez/VotingPlugin/wiki/Bungee-Setup-SOCKETS

###########################################
# MQTT Settings
###########################################

MQTT:
  # clientid must be unique on each server
  ClientID: 'proxy'
  BrokerURL: "tcp://localhost:1883"
  Username: ''
  Password: ''
  # Set a prefix from an entire proxy network if using mutli-proxy setup below
  Prefix: ''
  
######################################################################################

# Votes will be forwarded when specific player is online
# If set to false, rewards should still reward when player logs in even when false
# but it can fail to reward, this setting has no effect if sendtoallservers is false
WaitForUserOnline: true

# If false, votes will be checked if user is a valid player that has joined to server
# Works for PLUGINMESSAGING and SOCKETS methods only
# This requires spigot servers AllowUnJoined to be set to true in Config.yml
AllowUnJoined: false

# Points to give on vote
PointsOnVote: 1

# If true, bungee will handle adding totals
# If false, spigot servers will EACH set their own totals
# If false, AllowUnJoined should be enabled on bungee, spigot servers will handle that
# Recommeneded to leave enabled, setups with this disabled are currently unsupported
BungeeManageTotals: true

# Tell servers to broadcast
# Set DisableBroadcast to true on spigot servers (BungeeSettings.yml) as well
Broadcast: false

# Geyser/bedrock player settings
# https://github.com/BenCodez/VotingPlugin/wiki/Bedrock-Player-Support
BedrockPlayerPrefix: '.'

# Time votes will be cached on proxy
# -1 means no time limit
# Time in days
VoteCacheTime: -1

# Maxium number of votes possible per day
# Usually matches the amount of votesites
# Will limit vote totals to match accordingly
# Only applies for month total
# Set to -1 to disable
MaxAmountOfVotesPerDay: -1

# Maxium amount of vote points possible, -1 to disable
LimitVotePoints: -1

# Time offset for time changes
# Must match on all servers
TimeHourOffSet: 0

VoteParty:
  # If enabled, will trigger vote party reward 
  # in BungeeSettings.yml under BungeeVotePartyReward
  # Only runs rewards for online players
  Enabled: false
  # Votes required
  VotesRequired: 100
  # Increase amount required on each vote party
  IncreaseVotesRequired: 0
  # If false, will only send to servers listed below
  SendToAllServers: true
  # Servers to send to, if SendToAllServers is false
  ServersToSend: []
  # List of commands to run on bungee server
  # Set spigot commands in BungeeSettings.yml
  BungeeCommands: []
  Broadcast: '&aVote party has been reached!'
  
# Online mode for UUIDS
# More details here: https://github.com/BenCodez/VotingPlugin/wiki/Online-Offline-Mode
OnlineMode: true

# If true plugin will atempt to lookup uuids if none exist
UUIDLookup: true

# Should be enabled if enabled on backend servers
ResetMilestonesMonthly: false

# If you use this plugin will ignore votes from these service sites for said amount of time
WaitUntilVoteDelay:
  # sitename must match what's in VoteSites.yml on backend servers
  SITENAME:
    # Set service site here and vote delay
    ServiceSite: SERVICESITE
    VoteDelay: 24
    VoteDelayMin: 0
    # If true it resets based on the day isntead
    VoteDelayDaily: false
    VoteDelayDailyHour: 0

###########################################
# Month Date Totals
# Experimental feature
# Settings must match on backend servers
# https://github.com/BenCodez/VotingPlugin/wiki/Month-Date-Totals
###########################################

# Experimental
# Stores month votes with date formatting
# MonthTotal-MONTH-YEAR
# This setting only enables setting totals, not using them
# Enabling this is pretty safe and harmless with just this setting
StoreMonthTotalsWithDate: false

# Experimental
# This setting uses month votes with date formatting
# If using this StoreMonthTotalsWithDate must be enabled
# This setting may be very buggy as it's in early stages
UseMonthDateTotalsAsPrimaryTotal: false


##########################################
# Multi-proxy setup
# This is still a WIP, use with caution
# Primary server needs votifier and config option enabled
# Set socket host on each proxy and primary server set sub proxies
# All servers should be on pluginmessaging or sockets setup
##########################################

# Support for multiple proxies
MultiProxySupport: false

# Enable on primary proxy server with votifier
PrimaryServer: false

# If enabled, player will only get 1 reward on a server on the network
# Must be enabled on all proxies for this to work
# Must also disable sendtoallservers
MultiProxyOneGlobalReward: false

# Multi-proxy available methods:
#  SOCKET
#  REDIS
MultiProxyMethod: SOCKET

##########################################
# REDIS multi-proxy settings
##########################################

# Set multiproxymethod to REDIS to use redis
MultiProxyRedis:
  # If true the plugin will use the exsiting connection set above
  # Must be on REDIS method to use this setting
  UseExistingConnection: false
  Host: localhost
  Port: 6379
  Username: ''
  Password: ''
  
# Set each server it's own proxy name here (can be anything)
ProxyServerName: proxy1

# Set names of other proxy servers
# Must match what's set as the proxy server name above from other servers
# On non primary proxy server just set the primary proxy server name here
ProxyServers:
- proxy2
- proxy3

##########################################
# SOCKET multi-proxy settings
##########################################

# Set this for each proxy
MultiProxySocketHost:
  Host: 0.0.0.0
  Port: 1234

# Set other sub proxies here
# On non primary proxy only set primary proxy
MultiProxyServers:
  secondproxy:
    Host: 0.0.0.0
    Port: 1235
