# --------------------------
# Bungee Setup 
# Only if using votingplugin bungee to send votes
# REQUIRES RESTART FOR CHANGES TO TAKE EFFECT
# --------------------------

# Plugin using bungee, requires plugin on bungee server
UseBungeecord: false

# For pluginmessaging method only
# Whether to broadcast on cached votes
BungeeBroadcastAlways: false

# What type of bungee setup
# Requires restart and set on all servers
# https://github.com/Ben12345rocks/VotingPlugin/wiki/Bungeecoord-Setups
# Available:
# SOCKETS
# PLUGINMESSAGING
# MYSQL
BungeeMethod: SOCKETS

# Enables more debug messages for communication between servers
# Use /votingpluginbungee status for testing communication
BungeeDebug: false

# Get the plugin to broadcast to all servers
# If false you need to enable 
BungeeBroadcast: false

# What server this is in bungee (must match)
# Also can be applied to rewards
Server: PleaseSet

# -----------------------------
# For socket setup below only
# -----------------------------

# Bungee communication, add bungee host/port here
BungeeServer:
  Host: '127.0.0.1'
  Port: 1297
  
# Bungee communication, add this to bungee server
SpigotServer:
  Host: '127.0.0.1'
  Port: 1298